## Задание 1

Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

In [1]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! "Познакомить" пары нам поможет функция zip, а в цикле распакуем zip-объект и выведем информацию в виде:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha

In [205]:
boys_sorted = sorted(boys)
girls_sorted = sorted(girls)


match = zip(boys_sorted, girls_sorted)
#print(list(match))

for name in list(match):
    print(name[0], 'и', name[1])

Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

## Задание 2

У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [54]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

In [153]:
import copy
import statistics

contries_temp_c = copy.copy(countries_temperature)

#Расчет медианной температуры по странам
for country in contries_temp_c:
    modo_temp = (statistics.median(country[1]) - 32) * 5 / 9
    print(f'{country[0]} - {round(modo_temp, 2)}')

# Я пыталась перевести все в Цельсии и выести на экран список с температурой в Цельсиях, но не получилось и сдалась.    
#for country in contries_temp_c[1]:
    #for day in country[1]:
        #day.replace(day, (day - 32) * 5 / 9)
#        day_cel = (day - 32) * 5 / 9
#    country.replace(day, day_cel)
#        print(country)

Thailand - 24.0
Germany - 14.0
Russia - 4.0
Poland - 12.0

## Задание 3

Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [154]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

In [212]:
#Ошибка, не понимаю, как решить.
#При суммировании программа складывает только единицы и не учитывает десятки. Не понимаю, как это работает

views = 0
for row in stream:
    stream_rows = row.split(',')
    for data in stream_rows[2]:
        data_int = int(data)
    views += data_int
# Не понимаю как посчитать количество уникальных пользователей
    #users = stream_rows.count(stream_rows[1])
    #print(views)
    stream_drop = stream.drop_duplicates()
    stream_drop.groupby(row[1]).size()


print(stream_drop)

print(views)
print(users)
views_per_user = views / users
# Как задать формат 2 знака после запятой?
print(f'Среднее количество просмотров страниц на пользователя - {round(views_per_user, 2)}')


#Может быть другая логика, но тоже не понимаю, как написать.
#Логика: объядинить данные по пользователям
#посчитать сумму просмотров
#посчитать длину списка
#поделить количество просмотров на длину списка

AttributeError: 'list' object has no attribute 'drop_duplicates'

## Задание 4

Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [195]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

In [202]:
data_in = input('Введите дату в формате: гггг-мм-дд (2018-01-01)')
campaign_in = input('Введите название рекламной площадки из списки: google, yandex, market')

data = data_in.lower()
campaign = campaign_in.lower()

for row in stats:
    if data == row[0] and campaign == row[1]:
        print(f'Значение третьего столбца - {row[2]}')

#print(data, campaign)

Введите дату в формате: гггг-мм-дд (2018-01-01)2018-01-03
Введите название рекламной площадки из списки: google, yandex, marketYANDEX
Значение третьего столбца - 1327